<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>controllerServlet</display-name>
    <servlet-name>controllerServlet</servlet-name>
    <servlet-class>com.fpoly.controller.controllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controllerServlet</servlet-name>
    <url-pattern>/controllerServlet</url-pattern>
  </servlet-mapping>
  <display-name>Asm_java4</display-name>
  <welcome-file-list>
    <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>khangndpc04859@fpt.edu.vn</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>ukfewpnnsybotmzh</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>EmailForm.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.fpoly.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.fpoly.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.fpoly.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServviceImpl</display-name>
    <servlet-name>EmailServviceImpl</servlet-name>
    <servlet-class>com.fpoly.service.impl.EmailServviceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServviceImpl</servlet-name>
    <url-pattern>/EmailServviceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoControllerAdmin</display-name>
    <servlet-name>VideoControllerAdmin</servlet-name>
    <servlet-class>VideoControllerAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoControllerAdmin</servlet-name>
    <url-pattern>/VideoControllerAdmin</url-pattern>
  </servlet-mapping>
</web-app>